.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color: rgb(240, 45, 75);
	color:#FFF !important;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
    margin-top:22px;
}

.limit-h {
    object-fit: cover;
    max-height: 250px;
}

.btn .fa{
    color: rgb(240, 45, 75);
}

.btn-group.special {
    display: flex;
}
  
.special .btn {
    flex: 1
  }